$text-color: #003D5C;
$table-bg: #00A3CC;
$table-bg-accent: #66C8E0;
$table-bg-hover: #29505A;
$btn-font-weight: bold;
$navbar-height: 160px;
$navbar-default-bg: #fff;
$body-bg:#fff;
@import "bootstrap-sprockets";
@import "bootstrap";
